<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>734204058295-tuisiecetd1v5iq1i795crvdj04cs507.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.734204058295-tuisiecetd1v5iq1i795crvdj04cs507</string>
	<key>API_KEY</key>
	<string>AIzaSyAk4eXGoDQ0xbpT5rMYFIwKg71lkePxYn8</string>
	<key>GCM_SENDER_ID</key>
	<string>734204058295</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pioneerplat.KingPlatform.KingPleTalk</string>
	<key>PROJECT_ID</key>
	<string>kingpletalk-d4a87</string>
	<key>STORAGE_BUCKET</key>
	<string>kingpletalk-d4a87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:734204058295:ios:e34e7ed463b5e7bbd3cb32</string>
	<key>DATABASE_URL</key>
	<string>https://kingpletalk-d4a87.firebaseio.com</string>
</dict>
</plist>